<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.mapper.MusicMapper">
  <select id="musicListData" resultType="com.sist.web.vo.MusicVO" parameterType="hashmap">
    SELECT no, title, poster, singer, num
    FROM (SELECT no, title, poster, singer, ROWNUM AS num
    FROM (SELECT no, title, poster, singer
    FROM genie_music ORDER BY no ASC))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
   
  <select id="musicTotalPage" resultType="int">
    SELECT CEIL(COUNT(*)/12.0) FROM genie_music
  </select>
</mapper>